@import 'colors.scss';
@import 'mixins.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  background: $black;
  color: $white;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 { font-family: 'Nunito Sans', sans-serif; font-weight: 700; color: $yellow; }

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 26px; }
h5 { font-size: 20px; }

section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;

  &:nth-child(even) {
    .tutorial {
      background: lighten($black, 3);
    }
  }

  a {
    color: $red;
  }

  .title, .tutorial, .example, .fact {
    flex-grow: 1;

    display: flex;
    align-items: center;
  }

  .title {
    padding: 1em;

    h1 {
      font-size: 76px;
      color: $yellow;
      margin-bottom: 0;
    }

    h1, p {
      position: relative;
      z-index: 2;
    }

    #opener-animation {
      position: absolute;
      z-index: 1;
      right: 500px;
      top: 50%;
      height: 300px;
      transform: translateY(-50%);
      perspective: 1000px;

      @keyframes  opener-animation {
        0%   { transform: translate( -300px, -300px) rotateY(0) rotateX(0); border-radius: 0; }
        25%  { transform: translate( 300px, -300px) rotateY(180deg) rotateX(0); background: $blue; border-radius: 200px; box-shadow: 0 0 100px $blue; }
        50%  { transform: translate( 300px, 300px) rotateY(0) rotateX(180deg); background: $yellow; border-radius: 0; box-shadow: 0 0 100px $yellow; }
        75%  { transform: translate( -300px, 300px) rotateY(180deg) rotateX(0); background: $green; border-radius: 200px; box-shadow: 0 0 100px $green; }
        100% { transform: translate( -300px, -300px) rotateY(0) rotateX(0); border-radius: 0; }
      }

      span {
        display: block;
        width: 300px;
        height: 300px;
        position: absolute;
        background: $red;
        border-radius: 0;
        box-shadow: 0 0 100px $red;
        transform: translate( -300px, -300px);
        animation: opener-animation 5s infinite;
      }
    }
  }

  .inner {
    width: 100%;
    padding: 2em;
  }

  .fact {
    text-align: center;

    .inner {
      margin: 0 auto;
      max-width: 1440px;
      background: black;

      code {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .tutorial {
    width: 55%;
  }

  code {
    @include clearfix;
    max-width: 100%;
    max-height: 600px;
    overflow-y: auto;
    margin: .5em 0;
    padding: 1em 2em;
    font-family: 'Source Code Pro', monospace;
    font-size: 18px;
    text-align: left;
    background: #000;
    border: 1px solid $white;
    border-radius: 20px;
    display: block;
    unicode-bidi: embed;
    font-family: monospace;
    white-space: pre-wrap;
    overflow-x: auto;
  }

  .example {
    width: 45%;
    color: $black;
    background: $white;

    .inner {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

.closer {
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: .25;
    background: url(../images/shrek.gif) center no-repeat rgba($black, .5);
    background-size: cover;
  }
}
